<div class="wrapper">
  <div class="title">The social playlist experience</div>
  <p class="subtitle">Are you planning a party?</p>
  <p>
    Compile a playlist with your friends, vote on the songs and make sure that
    all your guests enjoy the music on the dance floor!
  </p>
  <p class="subtitle">
    You want to connect with your friends through music as well?
  </p>
  <p>
    Let them follow your playlists with your favourite songs. It might be the
    best way to convince them to go to that concert with you next time.
  </p>
  <div class="features-wrapper">
  <p class="title">Features</p>
  <p class="subtitle">Create playlists</p>
  <p>Create your own playlists from youtube songs (that are max. 10 minutes long).
    You can lock your playlist and prevent the followers to add and remove songs from it. </p>
  <p class="subtitle">Follow playlists</p>
  <p>Follow others' playlists and invite your friends to follow yours by sending them the playlist ID.
    You can upvote and downvote the songs in followed playlists. You can also add and remove songs from unlocked playlists. </p>
  <p class="subtitle">Quarantine party</p>
  <p>Start a quarantine party with your own playlist. Followers can join the party on their own device. </p>
  </div>
</div>
