@use '../../../styles'

.container
  @include styles.add-container
  position: relative

.wrapper
  @include styles.add-wrapper
  position: absolute
  width: 100%
  background-color: rgb(styles.$theme-color-purple, 0.5)

.title
  text-align: center
  width: inherit
  margin: 1rem 1rem 1rem 2rem
  overflow: hidden
  text-overflow: ellipsis
  font-size: 3rem
  font-weight: 900
  color: styles.$theme-color-turquoise

.subtitle
  margin:0
  overflow: hidden
  text-overflow: ellipsis
  font-size: 0.8rem

.icon-wrapper
  display: flex
  flex-direction: row
  align-items: center
  width: 80%
  padding: 1rem

button
  border: 0
  outline: none
  font: inherit
  background-color: transparent

.add-song
  min-width: 8.75rem
  left: -110%
  top: -80%

.start-playback
  min-width: 7.5rem
  left: -150%
  top: -85%

.start-party
  min-width: 6.875rem
  left: -87%

.invite
  min-width: 6.875rem
  left: -85%

.delete
  min-width: 7.5rem
  left: -75%

.material-icons-round
  @include styles.material-icons-round

.material-icons-round:hover
  color: styles.$theme-color-green

.delete-icon
  margin-left: 6px

.add-icon
  font-size: 2.35rem !important

.play-icon
  margin-right: -5px
  font-size: 2.35rem !important

.person-add
  margin-left: 3px

.invite-text
  font-size:1rem
  color: styles.$theme-color-turquoise

.add-song-component
  width:80%

.song-list-component
  width: 80%
  margin-bottom: 2rem

