<div class="container">
  <div class="wrapper">
    <div class="title">{{ title$ | async }}</div>
    <div class="icon-wrapper">
      <div class="tooltip-wrapper">
        <span class="material-icons-round add-icon" (click)="addSong()">
          playlist_add
        </span>
        <div class="tooltip add-song">Add a new song</div>
      </div>
      <div class="tooltip-wrapper">
        <span class="material-icons-round play-icon" (click)="startPlayback()">
          play_arrow
        </span>
        <div class="tooltip start-playback">Start playback</div>
      </div>
      <div class="tooltip-wrapper">
        <span class="material-icons-round" (click)="startParty()">
          music_note
        </span>
        <div class="tooltip start-party">Start a party</div>
      </div>
      <div class="tooltip-wrapper">
        <span class="material-icons-round" id="person-add" (click)="invite()">
          person_add
        </span>
        <div class="tooltip invite">Invite others</div>
      </div>
      <div class="tooltip-wrapper">
        <span
          class="material-icons-round delete-icon"
          (click)="deletePlaylist()"
        >
          delete
        </span>
        <div class="tooltip delete">Delete playlist</div>
      </div>
      <span *ngIf="toggleInvite" class="invite-text">Invite with this id: {{ playlistId }}</span>
    </div>
    <addsong *ngIf="addSongActive" class="addsong"></addsong>
  </div>
</div>
