<div class="container">
  <div class="wrapper">
    <div class="title">{{ title$ | async }}</div>
    <div *ngIf="!ownPlaylist" class="title subtitle">by {{ ownerName$ | async }}</div>
    <div class="icon-wrapper">
      <div class="tooltip-wrapper">
        <button>
          <span class="material-icons-round add-icon" (click)="addSong()">
            playlist_add
          </span>
          <div class="tooltip add-song">Add a new song</div>
        </button>
      </div>
      <div class="tooltip-wrapper">
        <span class="material-icons-round play-icon" (click)="startPlayback()">
          play_arrow
        </span>
        <div class="tooltip start-playback">
          {{ playSongActive ? "Hide playback" : "Start playback" }}
        </div>
      </div>
      <button class="tooltip-wrapper">
        <span class="material-icons-round" (click)="startParty()">
          music_note
        </span>
        <div class="tooltip start-party">Start a party</div>
      </button>
      <button class="tooltip-wrapper">
        <span class="material-icons-round" id="person-add" (click)="invite()">
          person_add
        </span>
        <div class="tooltip invite">Invite others</div>
      </button>
      <button *ngIf="ownPlaylist" class="tooltip-wrapper">
        <span
          class="material-icons-round delete-icon"
          (click)="clickDelete()"
        >
          delete
        </span>
        <div class="tooltip delete">Delete playlist</div>
      </button>
      <span *ngIf="toggleInvite" class="invite-text"
        >Invite with this id: {{ playlistId }}</span
      >
    </div>
    <playsong *ngIf="playSongActive" class="playSong"></playsong>
    <addsong *ngIf="addSongActive" class="add-song-component"></addsong>
    <songlist *ngIf="(songs$ | async)?.length > 0" class="song-list-component"></songlist>
  </div>
  <confirmation
    *ngIf="confirmationVisible"
    [message]="message"
    (delete)="deletePlaylist()"
    (close)="closeConfirmation()"
  ></confirmation>
</div>
