<div class="youtube-container">
  <div class="title">{{ currentSong.title }}</div>
  <youtube-player
    #player
    class="youtube"
    playsinline="true"
    [videoId]="currentSong.youtubeId"
    (ready)="onReady($event)"
    (stateChange)="onStateChange($event)"
  ></youtube-player>
  <div class="control-wrapper">
    <button [disabled]="isPlaying">
      <span class="material-icons-round" (click)="startPlay()"
        >play_arrow</span>
    </button>
    <button [disabled]="isPaused">
      <span class="material-icons-round" (click)="pausePlay()"
        >pause</span>
    </button>
    <button [disabled]="isStopped">
      <span class="material-icons-round" (click)="stopPlay()"
        >stop</span>
    </button>
    <button [disabled]="!canSkipBackward">
      <span class="material-icons-round" (click)="skipToPrevious()"
        >skip_previous</span>
    </button>
    <button [disabled]="!canSkipForward">
      <span class="material-icons-round" (click)="skipToNext()"
        >skip_next</span>
    </button>
    <button>
      <span
        *ngIf="!isMuted"
        class="material-icons-round"
        (click)="toggleMute()"
        >volume_off</span>
    </button>
    <button>
      <span
        *ngIf="isMuted"
        class="material-icons-round unmute-icon"
        (click)="toggleMute()"
        >volume_up</span>
    </button>
  </div>
</div>
