<div class="sidebar-container">
  <div class="title" (click)="onClick()">COLLABOX</div>
  <div class="wrapper">
    <div class="subtitle-wrapper">
      <span class="subtitle">Own playlists</span>
      <div class="tooltip-wrapper">
        <mat-icon
          class="material-icons-round"
          class="icon"
          (click)="createPlaylist()"
        >
          add
        </mat-icon>
        <div class="tooltip add-playlist">Add new playlist</div>
      </div>
    </div>
    <div class="playlist-wrapper">
      <div *ngFor="let playlist of ownPlaylists$ | async" class="playlist" (click)="clickOnPlaylist(playlist.id)">
        {{ playlist.playlistName }}
      </div>
    </div>
    <div class="subtitle-wrapper">
      <span class="subtitle">Others' playlists</span>
      <div class="tooltip-wrapper">
        <mat-icon class="material-icons-round" class="icon" (click)="followPlaylist()"> add</mat-icon>
        <div class="tooltip add-playlist">Follow a playlist</div>
      </div>
    </div>
    <div class="playlist-wrapper">
      <div *ngFor="let playlist of otherPlaylists$ | async" class="playlist" (click)="clickOnPlaylist(playlist.id)">
        {{ playlist.playlistName }}
      </div>
    </div>
  </div>
</div>
