/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Megrim&display=swap')
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap')

$theme-color-green: #A3D11F
$theme-color-yellow: #F4ED31
$theme-color-turquoise: #3CCFC6
$theme-color-light-turquoise: #96EDE8
$theme-color-purple: #6C2E6D
$theme-color-dark-turquoise: #669EA1
$theme-color-dark-green: #056066

body
  background-image: url('./assets/background.jpg')
  background-position: center
  background-attachment: fixed
  background-size: cover
  font-family: Montserrat, Arial, Helvetica, sans-serif

@mixin collabox-title
  color: $theme-color-turquoise
  font-size: 5rem
  font-family: Megrim, Arial, Helvetica, sans-serif

@mixin add-container
  display: flex
  flex-direction: column
  align-items: center
  margin: 2rem

@mixin add-wrapper
  display: flex
  flex-direction: column
  align-items: center
  width: 60%
  border-radius: 10px
  box-shadow: -1px 6px 25px -4px #000000

@mixin title
  font-weight: 500
  font-size: 1.4rem
  color: $theme-color-light-turquoise

@mixin form-wrapper
  display: flex
  flex-direction: column
  align-items: center
  width: 80%
  margin-bottom: 1rem

@mixin add-input
  border-radius: 5px
  border-width: 0
  width: 100%
  color: $theme-color-purple
  font-size: 1.2rem
  outline: none
  line-height: 25px

@mixin submit-button
  border-radius: 10px
  border-width: 0px
  color: $theme-color-turquoise
  background-color:  $theme-color-purple
  font-family: Montserrat, Arial, Helvetica, sans-serif
  font-size: 1rem
  font-weight: 600
  min-height: 20px
  outline: none
  padding: 0.5rem 0.8rem
  cursor: pointer

@mixin material-icons-round
  color: $theme-color-turquoise
  font-size: 2rem !important
  cursor: pointer
  transition: 0.25s

.tooltip-wrapper
  position: relative

.tooltip
  visibility: hidden
  opacity: 0
  transition: visibility 0.5s, opacity 0.5s
  position: absolute
  top: -100%
  z-index: 1
  padding: 5px
  border-radius: 6px
  background-color: rgb($theme-color-green, 0.7)
  color: $theme-color-light-turquoise
  text-align: center
  :hover > &
    visibility: visible
    opacity: 1

.tooltip:after
  content: ""
  position: absolute
  top: 100%
  left: 50%
  margin-left: -5px
  border-width: 5px
  border-style: solid
  border-color: rgb($theme-color-green, 0.7) transparent transparent transparent
