@use "../../../styles"

.container
  display: flex
  flex-direction: column
  justify-content: space-between
  flex-wrap: wrap
  border-radius: 10px
  background: styles.$theme-color-green
  color: styles.$theme-color-dark-green
  padding:  0.5rem 1rem 0.5rem 1rem
  margin-top: 0.5rem

.bottomContainer
  display: flex
  flex-direction: row
  justify-content: space-between
  margin-top: 0.25rem

.voteContainer
  display: flex
  flex-direction: row
  flex-wrap: nowrap

.voteButtons
  display: flex
  flex-direction: row
  flex-wrap: nowrap

.title
  font-size: 1rem
  font-weight: 600
  overflow: hidden
  text-overflow: ellipsis
  margin-right: 4px

.addedBy
  font-size: 0.8rem
  margin: auto
  margin-left: 0

.votes
  padding: 0 0.5rem 0 0.5rem
  font-size: 0.8rem
  margin: auto
  margin-left: 0

button
  background-color: transparent
  outline: none
  border: 0

.material-icons-round
  @include styles.material-icons-round
  font-size: 1.3rem !important
  color: styles.$theme-color-dark-green

.material-icons-round:hover
  color: styles.$theme-color-purple
